// Styles

body {
  margin: 0 auto;
  width: 96%;
}

.login-form {
  margin: 0 auto;
  width: 90%;
}

.ui.comments {
  max-width: inherit;
}

.user-comments {
  margin-top: 1rem;
}

.problem {
  margin-top: 10px;
}

textarea[name=comment] {
  height: 100px;
  width: 100%;
}
